.unorderList {
    list-style-type: circle;
}

.orderList {
    list-style: upper-roman;
}

body img {

    width: 30%;
}

img:hover {
    cursor: pointer;
    opacity: 0.6;
}

h3::before {
    content: "I Would like to "
}

h3::after {
    content: ' We Are Vhypotenuse!!!';
}